<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ZHeader</key>
		<string>打开设置后，立即接受推送消息</string>
		<key>ZFooter</key>
		<string></string>
		<key>ZItems</key>
		<array>
			<dict>
				<key>ZTitle</key>
				<string>双色球</string>
				<key>ZSubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>ZKeyName</key>
				<string>setting_open_push_ssq</string>
			</dict>
			<dict>
				<key>ZTitle</key>
				<string>大乐透</string>
				<key>ZSubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>ZKeyName</key>
				<string>setting_open_push_dlt</string>
			</dict>
			<dict>
				<key>ZTitle</key>
				<string>3D</string>
				<key>ZSubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>ZKeyName</key>
				<string>setting_open_push_3D</string>
			</dict>
			<dict>
				<key>ZTitle</key>
				<string>七乐彩</string>
				<key>ZSubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>ZKeyName</key>
				<string>setting_open_push_qlc</string>
			</dict>
			<dict>
				<key>ZTitle</key>
				<string>七星彩</string>
				<key>ZSubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>ZKeyName</key>
				<string>setting_open_push_qxc</string>
			</dict>
			<dict>
				<key>ZTitle</key>
				<string>排列3</string>
				<key>ZSubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>ZKeyName</key>
				<string>setting_open_push_pl3</string>
			</dict>
			<dict>
				<key>ZTitle</key>
				<string>排列5</string>
				<key>ZSubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>ZKeyName</key>
				<string>setting_open_push_pl5</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
