<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ZHeader</key>
		<string></string>
		<key>ZFooter</key>
		<string>开启后，当有新的中奖订单，打开应用时显示动画</string>
		<key>ZItems</key>
		<array>
			<dict>
				<key>ZTitle</key>
				<string>中奖动画</string>
				<key>ZAccessoryType</key>
				<string>UISwitch</string>
				<key>ZKeyName</key>
				<string>setting_win_animation</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
